<header th:fragment="header" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" th:text="#{label.title}">cashmoneymarket24</a>
        </div>
        <!-- unauthenticated navbar -->
        <ul class="nav" sec:authorize="!isAuthenticated()">
            <li class="nav-item">
                <a class="nav-link" href="/submitpost" th:text="#{label.submitPost}">Submit Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posts" th:text="#{label.seePosts}">See Posts</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="/login" th:text="#{label.login}">Login</a>
            </li>
            <div class="nav language">
                <a th:href="@{/?lang=en}">English</a>
                <a th:href="@{/?lang=et}">Eesti</a>
            </div>
        </ul>
        <!-- authenticated navbar -->
        <ul class="nav" sec:authorize="isAuthenticated()">
            <li class="nav-item">
                <a class="nav-link" href="/submitpost" th:text="#{label.submitPost}">Submit Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posts" th:text="#{label.seePosts}">See Posts</a>
            </li>
            <li class="nav-item dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">History</a>
                    <a class="dropdown-item" href="/logout" th:text="#{label.logout}">Log Out</a>
                </div>
            </li>
            <div class="nav language">
                <a th:href="@{/?lang=en}">English</a>
                <a th:href="@{/?lang=et}">Eesti</a>
            </div>
        </ul>

    </div>
</header>