<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:include=":: #pageTitle">Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cashmoneymarket24 is an online trading platform, where you can safely buy or sell items and make tons of profit while you're at it.">
    <meta name="keywords" content="cash money trading safe buy sell online">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/head.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>