<header th:fragment="header" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" th:text="#{label.title}">cashmoneymarket24</a>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/submitpost" th:text="#{label.submitPost}">Submit Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posts" th:text="#{label.seePosts}">See Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login" th:text="#{label.login}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout" th:text="#{label.logout}">Log Out</a>
            </li>
            <li class="nav-item"sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/login">Login</a>
            <li class="nav-item">
                <a th:href="@{/?lang=en}">English</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="#" th:href="@{/logout}">Log Out</a>
            <li class="nav-item">
                <a th:href="@{/?lang=et}">Eesti</a>
            </li>
        </ul>
    </div>
</header>