<header th:fragment="header" class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">cashmoneymarket24</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#">asdasdy</a></li>
            <li><a href="#">Sell</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#" th:href="@{/logout}">Log Out</a></li>
        </ul>
    </div>
</header>