/*
    Color scheme (darker-brighter):
        -#1c1f4c
        -#00848c
        -#037272
        -#fccf17
        -#fex20f
        -#edebd9
        -#fff
*/
html,body{
    font-family: 'Lato', sans-serif;
}
.javascript-container,
.hidden{
    display: none;
}
.spacer{
    margin-top: 30px;
}

/* header */
.front-page{
    height: 90vh;
}
.front-page .container .row{
    padding: 30vh 0 40vh;
}

/* form */
form p{
    text-align: center;
    color: #00848c;
}
form p input{
    padding-left: 3px;
}
/* maps */
#map{
    display: block;
    width: 100%;
    height: 30vh;
    margin-top: 1vh;
}