/*
    Color scheme (darker-brighter):
        -#25274D
        -#464866
        -#AAABB8
        -#2E9CCA
        -#29648A
        -#F9F9F9
*/
html,body{
    font-family: 'Lato', sans-serif;
}
header{
    background-color: #25274D;
    min-height: 8vh;
}
a{
    text-decoration: none !important;
}
header a, .nav-sidebar a{
    color: #f9f9f9;
}
.nav-sidebar a:hover, a:hover, a:focus, .active{
    color: #29648A;
}
.javascript-container,
.hidden{
    display: none;
}
.sidebar{
    min-height:92vh;
    background-color: #464866;
}

/* header */
.front-page{
    height: 90vh;
}
.front-page .container .row{
    padding: 30vh 0 40vh;
}

/* form */
form p{
    text-align: center;
    color: #00848c;
}
form p input{
    padding-left: 3px;
}
/* cards */
.card-deck .card{

}
.card-img-top {
    width: 100%;
    max-height: 18vw;
    object-fit: cover;
}

/* maps */
#map{
    display: block;
    width: 100%;
    height: 30vh;
    margin-top: 1vh;
}