<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head.html :: head">
    <title id="pageTitle">Home - CashMoneyMarket</title>
</head>
<body>
<header th:replace="fragments/header.html :: header">
</header>
<main class="front-page">
    <div class="container">
        <div class="row justify-content-center">
            <div sec:authorize="isAuthenticated()">
                u are in
            </div>
            <div class="col-sm-8 text-center">
                <h1>Buy. Sell. Profit either way.</h1>
            </div>
            <div class="col-sm-8 text-center">
                <a href="login" class="btn btn-primary btn-lg">Sign-up now!</a>
                <a href="posts" class="btn btn-outline-secondary btn-lg" >Take a peek inside the market!</a>
            </div>
        </div>
    </div>
</main>

<div th:replace="fragments/javascripts.html :: javascripts"></div>

</body>
</html>