<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head.html :: head">
    <title id="pageTitle">Home - CashMoneyMarket</title>
</head>
<body>
<header th:replace="fragments/header.html :: header">
</header>
<main class="front-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8 text-center">
                <h1>Buy. Sell. Profit either way.</h1>
            </div>
            <div class="col-sm-8 text-center">
                <a href="login" class="btn btn-primary btn-lg">Sign-up now!</a>
                <button type="button" class="btn btn-outline-secondary btn-lg" data-toggle="modal" data-target="#peekMarket">Take a peek inside the market!</button>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="peekMarket" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">The Market</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">
                            <h5 class="card-title" id="title">Title</h5>
                            <p class="card-text" id="message">Message</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<div th:replace="fragments/javascripts.html :: javascripts"></div>

</body>
</html>