<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head.html :: head">
    <title id="pageTitle">Log In - CashMoneyMarket</title>
</head>
<body>
<header th:replace="fragments/header.html :: header">
</header>
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <a href="/oauth2/authorization/google"><img src="images/btn_google_signin_light_focus_web.png"></a>
            </div>
        <div class="row">
            <a href="/oauth2/authorization/google"><img src="images/btn_google_signin_light_focus_web.png" alt="Login with Google"></a>
        </div>
    </div>
</main>

<div th:replace="fragments/javascripts.html :: javascripts"></div>

</body>
</html>