<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/head.html :: head">
    <title id="pageTitle">Posts - CashMoneyMarket</title>
</head>
<body>
<header th:replace="fragments/header.html :: header">
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar col-md-2 pt-4">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">All</a></li>
                </ul>
            </div>
            <div class="card-deck col-md-10 pt-4">
                <div class="col-md-4 col-sm-12" th:each="post : ${posts}">
                    <div class="card">
                        <img class="card-img-top" th:src="${post.image != null} ? ${post.image} : 'images/post-image-placeholder.svg'" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${post.title}">Title</h5>
                            <p class="card-text"
                               th:text="${post.message}">Message</p>
                            <p class="card-location"th:text="${post.location}"></p>
                        </div>
                    </div>
    <div class="container">
        <div class="card-deck">
            <div class="card"
                 th:each="post : ${posts}">
                <div class="card-body">
                    <img class="card-img-top" th:src="${post.image}" th:alt="${post.title}">
                    <h5 class="card-title" th:text="${post.title}">Title</h5>
                    <p class="card-text"
                       th:text="${post.message}">Message</p>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="fragments/javascripts.html :: javascripts"></div>

</body>
</html>