<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/head.html :: head">
    <title id="pageTitle">Posts - CashMoneyMarket</title>
</head>
<body>
<header th:replace="fragments/header.html :: header">
</header>
<main>
    <div class="container">
        <div class="row">
            <tr th:each="post : ${posts}">
                <td><a href="#" th:text="${post.title}">Title ...</a></td>
                <td th:text="${post.message}">1</td>
            </tr>
        </div>
    </div>
</main>

<div th:replace="fragments/javascripts.html :: javascripts"></div>

</body>
</html>