<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head.html :: head">
    <title id="pageTitle">Submit post - CashMoneyMarket</title>
</head>
<body>
<header th:replace="fragments/header.html :: header">
</header>
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4 spacer">
                <form action="#" th:action="@{/submitpost}" th:object="${post}" method="post">
                    <p>Title: <br><input type="text" th:field="*{title}"/></p>
                    <p>Message: <br><input type="text" th:field="*{message}"/></p>
                    <p class="hidden"><input id="latLng" type="text" th:field="*{location}"/></p>
                    <p><input class="btn btn-primary"type="submit" value="Submit"/></p>
                    <div id="map"></div>
                    <p>Click on the map to specify the location of your item</p>
                </form>
            </div>
        </div>
    </div>
</main>

<div th:replace="fragments/javascripts.html :: javascripts"></div>

</body>
</html>