<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head.html :: head">
    <title id="pageTitle">Submit post - CashMoneyMarket</title>
</head>
<body>
<header th:replace="fragments/header.html :: header">
</header>
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-5 mt-4 pt-2 card">
                <form action="#" th:action="@{/submitpost}" enctype="multipart/form-data" method="post">
                    <p><span th:text="#{label.postTitle}">Title: </span><br><input type="text" name="title"/></p>
                    <p><span th:text="#{label.postMessage}">Message: </span><br><input type="text" name="message"/>
                    </p>
                    <p><span th:text="#{label.postImage}">Image: </span><input type="file" name="image"/><br></p>
                    <p class="hidden"><input id="latLng" type="text" name="location"/></p>
                    <p>Click on the map to specify the location of your item</p>
                    <div id="map"></div>
                    <p><input class="btn btn-primary" type="submit" value="Submit"/></p>
                </form>
            </div>
        </div>
    </div>
</main>

<div th:replace="fragments/javascripts.html :: javascripts"></div>

</body>
</html>